<div class="home-container">
  
  <div class="chat-create">
    <h1>Welcome back {{ user.displayName }}!</h1>
  
    <div class="chat-button-container">
      <button mat-raised-button class="chat-button" (click)="_chatService.create()">Create a Chat Room</button>
    </div>
  </div>
  

  <div class="chat-chats">
    <h2>Your Chats</h2>
    <ul>
      <li *ngFor="let chat of userChat | async">
        <button class="chat-button-chats" mat-raised-button routerLink="/chat/{{ chat.id }}">{{ chat.id }} - {{ chat.messages.length }} Messages</button>
      </li>
    </ul>
  </div>
</div>