<div class="chat-container">
  <ng-container *ngIf="chat$ | async as chat">
    <ng-container *ngIf=" _authService.user$ | async as user">

      <div class="chat-card">
        <div class="chat">
          <div class="" *ngFor="let msg of chat.messages; trackBy: trackByCreated">
            <div class="msg-user">{{ msg.user?.displayName || msg.user?.uid }}</div>
            <div class ="msg-card">
              <div class="msg-content">{{ msg.content }}</div>
            </div>
          </div>
        </div>

        <div class="chat-box">
          <input class="input" [(ngModel)]="newMsg" maxlength="100" (keydown.enter)="submit(chat.id)">

          <button mat-raised-button (click)="submit(chat.id)">Send</button>
        </div>
      </div>

    </ng-container>
  </ng-container>
</div>