.signin-container{
  h1{font-size: 50px;}
  color: white;
  height: 100vh;
  margin-top: -10%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  .signin-form-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 375px;
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #202020;
    border-radius: 10px;
    .signin-form{
      width: 300px;
      color: white;
      display: flex;
      flex-direction: column;
      button{
        font-size: 20px;
        color: white;
        background-color: #243447;
      }
    }
  }

}